<div class="row d-flex justify-content-center align-items-center">
	<div class="col-12">
		<h1 class="display-6">Изменение данных</h1>
	</div>
</div>

<br>

<div class="row d-flex justify-content-center align-items-center">
	<div class="col-12">
		<p class="fw-bolder fs-4">Изменить приватность аккаунта</p>
		<%= button_to "Изменить приватность", private_path, method: :patch, id: 'update-private-user-button', class: "btn btn-dark fw-bolder" %>
	</div>
</div>

<br>
<br>

<div class="row d-flex justify-content-center align-items-center">
	<div class="col-12">
		<p class="fw-bolder fs-4">Изменить никнейм</p>
		<%= form_with scope: :user_nickname, url: nickname_path, method: :patch do |form| %>
			<%= form.label :nickname, 'Новый никнейм', class: 'form-label' %>
			<%= form.text_field :nickname, class: 'form-control', :required => true %>
			<br>
			<%= form.submit 'Сменить ник', class: 'btn btn-dark fs-5' %>
		<% end %>
	</div>
</div>

<br>
<br>

<div class="row d-flex justify-content-center align-items-center">
	<div class="col-12">
		<p class="fw-bolder fs-4">Изменить пароль</p>
		<p class="text-muted mb-4">Пароль должен содержать как минимум 6 символов, включая одну цифру, одну заглавную латинскую букву, одну строчную латинскую букв и спецсимвол: !, @, #, $, %, ^, &, *.</p>
		<%= form_with scope: :user_password, url: password_path, method: :patch do |form| %>
			<%= form.label :old_password, 'Старый пароль', class: "form-label" %>
			<%= form.password_field :old_password, class: 'form-control', :required => true, autocomplete: "new-password" %>
			<br>
			<%= form.label :new_password, 'Новый пароль', class: 'form-label' %>
			<%= form.password_field :new_password, class: 'form-control', :required => true, autocomplete: "new-password" %>
			<br>
			<%= form.label :new_password_confirmation, 'Подтверждение нового пароля', class: 'form-label' %>
			<%= form.password_field :new_password_confirmation, class: 'form-control', :required => true, autocomplete: "new-password" %>
			<br>
			<%= form.submit 'Сменить пароль', class: 'btn btn-dark fs-5' %>
		<% end %>
	</div>
</div>
<br>
