<% if current_user.nil? %>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white">
          <div class="card-body p-5">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Регистрация</h2>
              <p class="text-white-50 mb-5">Введите следующие данные</p>

              <%= form_with scope: :user, url: users_path, data: {turbo: false} do  |form| %>

                <div class="form-outline form-white mb-4">
                  <%= form.label :nickname, 'Ваш никнейм', class: "form-label" %>
                  <%= form.text_field :nickname, class: 'form-control form-control-lg', :required => true %>
                </div>

                <div class="form-outline form-white mb-4">
                  <%= form.label :email, 'Ваш email-адрес', class: "form-label" %>
                  <%= form.text_field :email, class: 'form-control form-control-lg', :required => true %>
                </div>

                <p class="text-white-50 mb-5">Пароль должен содержать как минимум 6 символов, включая одну цифру, одну заглавную латинскую букву, одну строчную латинскую букв и спецсимвол: !, @, #, $, %, ^, &, *.</p>

                <div class="form-outline form-white mb-4">
                  <%= form.label :password, 'Ваш пароль', class: "form-label" %>
                  <%= form.password_field :password, class: 'form-control form-control-lg', :required => true, autocomplete: "new-password" %>
                </div>

                <div class="form-outline form-white mb-4">
                  <%= form.label :password_confirmation, 'Повторите пароль', class: "form-label" %>
                  <%= form.password_field :password_confirmation, class: 'form-control form-control-lg', :required => true, autocomplete: "new-password" %>
                </div>

                <%= form.submit 'Зарегистрироваться', class: 'btn btn-outline-light btn-lg'%>

              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <% controller.redirect_to root_path, notice: "Вы уже вошли в аккаунт!" %>
<% end %>
