<% if @user_required.present? %>
	<h1 class="display-6">Информация о пользователе 
		<% if @is_user_banned %>
			<span class="text-danger fw-bold">(заблокирован)</span>
		<% end %>
	</h1>

	<div class="text-group-show">
		<span class="fs-5 mt-5 fw-bolder">identifier:</span>
		<span class="fs-5 fw-lighter"><%= "#{@user_required[:id]}" %></span>
	</div>

	<div class="text-group-show">
		<span class="fs-5 mt-5 fw-bolder">Никнейм:</span>
		<span class="fs-5 fw-lighter"><%= "#{@user_required[:nickname]}" %></span>
	</div>

	<div class="text-group-show">
		<span class="fs-5 mt-5 fw-bolder">Email:</span>
		<span class="fs-5 fw-lighter"><%= "#{@user_required[:email]}" %></span>
	</div>

	<div class="text-group-show">
		<span class="fs-5 mt-5 fw-bolder">Подписчики:</span>
		<span class="fs-5 fw-lighter"><%= link_to @followers_count, "/followers/#{@user_required[:id]}" %></span>
	</div>

	<div class="text-group-show">
		<span class="fs-5 mt-5 fw-bolder">Подписки:</span>
		<span class="fs-5 fw-lighter"><%= link_to @followings_count, "/followings/#{@user_required[:id]}" %></span>
	</div>
  
	<% if current_user.present? %>
		<% if @user_required != current_user %>
			<% if @is_user_follower %>
				<p><%= button_to "Отписаться", subscription_path, params: { id: @user_required[:id] }, method: :delete, class: "btn btn-dark fs-5" %></p>
			<% else %>
				<p><%= button_to "Подписаться", subscriptions_path, params: { id: @user_required[:id] }, method: :post, class: "btn btn-dark fs-5" %></p>
			<% end %>
		<% end %>

		<br>
		<hr/>

		<% if @user_questions.empty? %>
			<p class="fw-bolder fs-4">Записей еще нет...</p>
		<% end %>

		<% if current_user == @user_required %>
			<%= form_with scope: :question, url: questions_path, data: {turbo: false} do |form| %>
				<%= form.label :body, 'Новая запись', class: 'form-label' %><br>
				<%= form.text_area :body, class: 'form-control form-control' %><br>
				<%= form.submit 'Опубликовать', class: 'btn btn-outline-light btn-dark' %><br>
			<% end %>
		<% end %>

		<% if @user_questions.present? %>
			<br>
			<p class="fw-bolder fs-2">Записи от <%= @user_required[:nickname] %></p>

			<% @user_questions.each do |uq| %>
				<div class="list-group">
					<a class="list-group-item list-group-item-action">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1"><%= @user_required[:nickname] %></h5>
							<small class="text-secondary"><%= uq[:created_at] %></small>
						</div>
						<p class="mb-1">
							<%= uq[:body] %>
						</p>
						<% if current_user == @user_required %>
							<small class="text-danger"><%= button_to "Удалить", question_path, method: :delete, params: {id: uq[:id]}, class: "btn btn-link btn-sm nav-link" %></small>
						<% end %>
					</a>
				</div>
			<% end %>
		<% end %>

    <% if @user_required == current_user %>
			<br>
			<hr/>

			<p><%= button_to "Удалить аккаунт", "", method: :delete, form: {data: {turbo_confirm: 'Вы уверены?'}}, class: "btn btn-danger fs-5 mt-5 fw-bolder" %></p>
    <% end %>
  <% end %>

<% else %>
	<h1 class="display-6">Данный пользователь не существует!</h1>

<% end %>
