<div class="row d-flex justify-content-center align-items-center">
	<div class="col-12">
		<h1 class="display-6">Управление пользователями</h1>
	</div>
</div>

<br>

<div class="row d-flex justify-content-center align-items-center">
	<div class="col-12">
		<p class="fw-bolder fs-4">Заблокировать пользователя</p>
		<%= form_with scope: :ban_user, url: bans_path, method: :post do |form| %>
			<%= form.label :user_id, 'Id пользователя', class: 'form-label' %>
			<%= form.text_field :user_id, class: 'form-control', :required => true %>
			<br>
            <%= form.label :reason, 'Причина блокировки', class: 'form-label' %>
            <%= form.text_field :reason, class: 'form-control', :required => true %>
            <br>
			<%= form.submit 'Заблокировать', id: 'ban-user-button', class: 'btn btn-dark fs-5' %>
		<% end %>
	</div>
</div>

<br>
<br>

<div class="row d-flex justify-content-center align-items-center">
	<div class="col-12">
		<p class="fw-bolder fs-4">Снять блокировку у пользователя</p>
		<%= form_with scope: :unban_user, url: ban_path, method: :delete do |form| %>
			<%= form.label :user_id, 'Id пользователя', class: 'form-label' %>
			<%= form.text_field :user_id, class: 'form-control', :required => true %>
			<br>
			<%= form.submit 'Разблокировать', id: 'unban-user-button', class: 'btn btn-dark fs-5' %>
		<% end %>
	</div>
</div>

<br>
<hr/>
<br>

<div class="row d-flex justify-content-center align-items-center">
	<div class="col-12">
		<p class="fw-bolder fs-4">Дать теневую блокировку пользователю</p>
		<%= form_with scope: :shadowban_user, url: shadowbans_path, method: :post do |form| %>
			<%= form.label :user_id, 'Id пользователя', class: 'form-label' %>
			<%= form.text_field :user_id, class: 'form-control', :required => true %>
			<br>
			<%= form.submit 'Заблокировать', id: 'shadowban-user-button', class: 'btn btn-dark fs-5' %>
		<% end %>
	</div>
</div>

<br>
<br>

<div class="row d-flex justify-content-center align-items-center">
	<div class="col-12">
		<p class="fw-bolder fs-4">Снять теневую блокировку у пользователя</p>
		<%= form_with scope: :shadowunban_user, url: shadowban_path, method: :delete do |form| %>
			<%= form.label :user_id, 'Id пользователя', class: 'form-label' %>
			<%= form.text_field :user_id, class: 'form-control', :required => true %>
			<br>
			<%= form.submit 'Разблокировать', id: 'unban-user-button', class: 'btn btn-dark fs-5' %>
		<% end %>
	</div>
</div>
